# USDA Food Database

In [ ]:
!head data/usda_food_database.json

In [8]:
import pandas as pd
import json

In [5]:
temp = pd.read_json("data/usda_food_database.json")

In [7]:
temp.head()

,id,description,tags,manufacturer,group,portions,nutrients
0,1008,"Cheese, caraway",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]","[{'value': 25.18, 'units': 'g', 'description':..."
1,1009,"Cheese, cheddar",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'cup, diced', 'grams': ...","[{'value': 24.9, 'units': 'g', 'description': ..."
2,1018,"Cheese, edam",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}, ...","[{'value': 4.22, 'units': 'g', 'description': ..."
3,1019,"Cheese, feta",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'cup, crumbled', 'grams...","[{'value': 5.2, 'units': 'g', 'description': '..."
4,1028,"Cheese, mozzarella, part skim milk",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]","[{'value': 3.27, 'units': 'g', 'description': ..."

In [9]:
db = json.load(open("data/usda_food_database.json"))

In [11]:
len(db)

6636

In [12]:
db[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [14]:
type(db[0])

dict

In [16]:
db[0]['nutrients'][0]

{'value': 25.18,
 'units': 'g',
 'description': 'Protein',
 'group': 'Composition'}

In [17]:
nutrients = pd.DataFrame(db[0]['nutrients'])

In [18]:
nutrients.head()

    value units                  description        group
0   25.18     g                      Protein  Composition
1   29.20     g            Total lipid (fat)  Composition
2    3.06     g  Carbohydrate, by difference  Composition
3    3.28     g                          Ash        Other
4  376.00  kcal                       Energy       Energy

In [19]:
info_keys = ['description', 'group', 'id', 'manufacturer']

In [20]:
info = pd.DataFrame(db, columns=info_keys)

In [23]:
info.head()

,description,group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,

In [25]:
info['group'].value_counts()[:10]

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Legumes and Legume Products          365
Fast Foods                           365
Lamb, Veal, and Game Products        345
Sweets                               341
Fruits and Fruit Juices              328
Pork Products                        328
Name: group, dtype: int64

In [26]:
nutrients

       value units                         description        group
0     25.180     g                             Protein  Composition
1     29.200     g                   Total lipid (fat)  Composition
2      3.060     g         Carbohydrate, by difference  Composition
3      3.280     g                                 Ash        Other
4    376.000  kcal                              Energy       Energy
..       ...   ...                                 ...          ...
157    1.472     g                              Serine  Amino Acids
158   93.000    mg                         Cholesterol        Other
159   18.584     g        Fatty acids, total saturated        Other
160    8.275     g  Fatty acids, total monounsaturated        Other
161    0.830     g  Fatty acids, total polyunsaturated        Other

[162 rows x 4 columns]

In [27]:
nutrients.duplicated().sum()

108

In [28]:
nutrients = nutrients.drop_duplicates()

In [31]:
info.head()

,description,group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,

In [32]:
name_map = {'description':'food', 'group':'food_group'}

In [33]:
info = info.rename(columns=name_map, copy=False)

In [34]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   food          6636 non-null   object
 1   food_group    6636 non-null   object
 2   id            6636 non-null   int64
 3   manufacturer  5195 non-null   object
dtypes: int64(1), object(3)
memory usage: 207.5+ KB

In [36]:
nutrients.columns

Index(['value', 'units', 'description', 'group'], dtype='object')

In [37]:
name_mapping_2 = {'description':'nutrient','group':'nutrient_group'}

In [38]:
nutrients = nutrients.rename(columns=name_mapping_2, copy=False)

In [41]:
print(nutrients.columns)
print(info.columns)

Index(['value', 'units', 'nutrient', 'nutrient_group'], dtype='object')
Index(['food', 'food_group', 'id', 'manufacturer'], dtype='object')

In [42]:
nutrients.head()

    value units                     nutrient nutrient_group
0   25.18     g                      Protein    Composition
1   29.20     g            Total lipid (fat)    Composition
2    3.06     g  Carbohydrate, by difference    Composition
3    3.28     g                          Ash          Other
4  376.00  kcal                       Energy         Energy

In [43]:
info.head()

,food,food_group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,